/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  padding-top: 40px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px grey;
  border-radius: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3f51b5;
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #070d2e;
}
