h3 {
  text-align: center;
}

.mt {
  margin-top: 36px !important;
}

.centered-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 85vw;
  margin: 5vh auto 0 auto;
}

.flex-spaced {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.form-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.centered {
  justify-content: center;
}

.white-anchor {
  text-decoration: none;
  color: #fff;
}

.pagination {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
  > a,
  span {
    padding: 8px 16px;
    border-radius: 4px;
  }
  span {
    color: white;
    background-color: #3f51b5;
  }
  > a {
    text-decoration: none;
    transition: 0.5s;

    &:hover {
      box-shadow: 0 0 0 2px #3f51b5;
    }
  }
}

.scrollable {
  width: 100%;
  height: 65vh;
  overflow: auto;
}
