<PaperToolbar style="margin-bottom: 8px" as |toolbar|>
  <toolbar.tools>
    <LinkTo @route="index">
      <PaperButton data-test-home-button>
        Home
      </PaperButton>
    </LinkTo>
    <span class="flex"></span>
    {{#if this.session.isAuthenticated}}
      {{#if this.currentUser.user}}
        <h3>Olá, {{this.currentUser.user.name}}</h3>
      {{/if}}
      <LinkTo @route="new-event">
        <PaperButton data-test-new-event-button @raised={{true}}>
          Novo Evento
        </PaperButton>
      </LinkTo>
      <PaperButton
        data-test-new-event-button
        @raised={{true}}
        @onClick={{this.logout}}
      >
        logout
      </PaperButton>
    {{else}}
      <LinkTo @route="login">
        <PaperButton data-test-new-event-button @raised={{true}}>
          Login
        </PaperButton>
      </LinkTo>
    {{/if}}
  </toolbar.tools>
</PaperToolbar>