<div class="pagination">
  {{#each @count as |number|}}
    {{#if (eq number @model.meta.pagination.self.number) }}
      <span>{{ number }}</span>
    {{else}}
      <LinkTo @route="index" @query={{hash page=number}}>{{number}}</LinkTo>
    {{/if}}
  {{/each}}
</div>