<h3>Novo Comentário</h3>
<PaperForm @onSubmit={{action "createComment" @event}} style="min-width: 80%; margin: 0 auto" as |form|>
  <div class="form-row">
    <PaperInput @class="flex-40" @label="Nome" @icon="face"
      @placeholder="Nome" @value={{name}}
      @onChange={{action (mut name)}} @required={{true}}
      @errorMessages={{hash required="Por favor insira seu nome."}}
    />
    <PaperInput @class="flex-40" @label="Email" @type="email" @icon="email"
      @placeholder="Insira seu email" @value={{email}}
      @onChange={{action (mut email)}} @required={{true}}
      @errorMessages={{hash required="Por favor insira seu email"}}
    />
  </div>

  <div class="form-row">
    <PaperInput @class="flex" @label="comentário" @icon="speaker_notes"
      @textarea={{true}} @block={{true}}
      @passThru={{hash rows=2 maxRows=2}}
      @placeholder="Faça um comentário" @value={{content}}
      @onChange={{action (mut content)}} @required={{true}}
      @errorMessages={{hash required="Por favor insira um comentário."}}
    />
  </div>

  <div class="centered-container">
    <form.submit-button
      @raised={{true}} @primary={{true}}>
      Comentar
    </form.submit-button>
  </div>
</PaperForm>