<PaperForm @onSubmit={{action "createEvent"}} as |form|>
  <div class="form-row">
    <PaperInput @class="flex-30" @label="Nome"
      @placeholder="Nome do evento" @value={{name}}
      @onChange={{action (mut name)}} @required={{true}}
      @errorMessages={{hash required="Por favor insira um nome."}}
    />

    <PaperInput @class="flex-30" @label="URL"
      @placeholder="URL do evento" @value={{url}}
      @onChange={{action (mut url)}} @required={{true}}
      @errorMessages={{hash required="Por favor insira uma url."}}
    />

    <span style="color: #8e8e8e; font-weight: 300; font-size: small">
      <PaperCheckbox
        @value={{continuous}}
        @onChange={{action (mut continuous)}}
        @checked={{false}}
      >
        Contínuo?
        <br />
        {{if continuous "Sim" "Não"}}
      </PaperCheckbox>
    </span>
  </div>

  <div class="form-row">
    <PaperInput @class="flex-30" @label="Início" @type="date"
      @placeholder="Insira a data de início" @value={{starts_at}}
      @onChange={{action (mut starts_at)}} @required={{true}}
      @errorMessages={{hash required="Por favor insira a data de início"}}
    />

    <PaperInput @class="flex-30" @label="Término" @type="date"
      @placeholder="Insira a data de término" @value={{finishes_at}}
      @onChange={{action (mut finishes_at)}}
    />

    <PaperSelect
      @options={{this.eventTypes}} @label="Tipo de Evento" @required={{true}}
      @errorMessages={{hash required="Por favor escolha o tipo de evento"}}
      @selected={{type}} @onChange={{action (mut type)}} as |type|
    >
      {{type}}
    </PaperSelect>
  </div>

  <div class="form-row">
    <PaperInput @class="flex" @label="Descrição"
      @textarea={{true}} @block={{true}}
      @passThru={{hash rows=3 maxRows=3}}
      @placeholder="Descreva o evento" @value={{description}}
      @onChange={{action (mut description)}} @required={{true}}
      @errorMessages={{hash required="Por favor insira uma descrição."}}
    />
  </div>

  <div class="centered-container">
    <form.submit-button
      @raised={{true}} @primary={{true}}>
      Criar Evento
    </form.submit-button>
  </div>
</PaperForm>