{{#each @event.sortedComments as |comment|}}
  <PaperCard as |card|>
    <card.title as |title|>
      <title.text as |text|>
        <div class="flex-spaced">
          <text.headline>{{comment.name}}</text.headline>
          <text.subhead style="color: #9e9e9e">{{comment.email}}</text.subhead>
        </div>
        <br />
        <text.subhead>{{comment.content}}</text.subhead>
      </title.text>
    </card.title>
  </PaperCard>
{{/each}}