<PaperCard @class="flex" data-test-event={{@index}} as |card|>
  <card.title as |title|>
    <title.text as |text|>
      <text.headline data-test-event-name>{{@event.name}}</text.headline>
      <text.subhead>Criador: {{@event.user.name}} </text.subhead>
      <text.subhead>Continuo: {{if @event.continuous "Sim" "Não"}} </text.subhead>
      <text.subhead data-test-event-starts-at>
        Início: {{DateFormatter @event.starts_at }}
      </text.subhead>
      <text.subhead>Comentários: {{@event.comments.length }} </text.subhead>
    </title.text>
    <title.media
      @size="sm"
      @src="/assets/images/{{@event.type}}.png"
      @alt={{@event.name}}
      @title={{@event.type}}
    />
  </card.title>
  <card.actions>
    <LinkTo @route="event" @model={{@event.id}} class="white-anchor">
      <PaperButton @raised={{true}} @accent={{true}}>
        Detalhes
      </PaperButton>
    </LinkTo>
  </card.actions>
</PaperCard>