<div class="layout-row">
  <div class="layout-column flex-xs flex-gt-xs-60">
    <Events::EventCardDetailed @event={{@event}} />
    <Comments::CommentForm @event={{@event}}/>
  </div>
  <div class="layout-column flex-xs flex-gt-xs-40 scrollable">
    <Events::EventCardComments @event={{@event}} />
  </div>
</div>