<PaperCard as |card|>
  <card.title as |title|>
    <title.text as |text|>
      <text.headline>{{@event.name}}</text.headline>
      <br>
      <text.subhead>
        <strong>Criado por:</strong> {{@event.user.name}}
      </text.subhead>
      <text.subhead>
        <strong>Contínuo:</strong> {{if @event.continuous "Sim" "Não"}}
      </text.subhead>
      <text.subhead>
        <strong>Início:</strong> {{DateFormatter @event.starts_at }}
      </text.subhead>
      {{#if @event.finishes_at }}
      <text.subhead>
        <strong>Término:</strong> {{DateFormatter @event.finishes_at }}
      </text.subhead>
      {{/if}}
      <text.subhead>
        <strong>URL:</strong>
        <a href="{{@event.url}}" target="_blank">Link do Evento</a>
      </text.subhead>
      <hr />
      <text.subhead style="color: #000">
        {{@event.description}}
      </text.subhead>
    </title.text>
    <title.media @size="lg" @src="https://source.unsplash.com/720x480/?{{@event.name}}" @alt={{@event.name}}
      @title={{@event.name}} />
  </card.title>
  <card.actions>
    <LinkTo @route="index" class="white-anchor" style="padding-right: 10px;">
      <PaperButton @raised={{true}} @accent={{true}} @event={{@event}}>
        Todos os eventos
      </PaperButton>
    </LinkTo>
  </card.actions>
</PaperCard>