<PaperInput
  @class="flex-30"
  @label="Nome"
  @placeholder="Insira o nome do evento"
  @value={{@name}}
  @onChange={{action (mut @name)}}
  data-test-name-input
/>

<PaperInput
  @class="flex-30"
  @label="Tipo"
  @placeholder="Concerto, Teatro ou Museu"
  @value={{@type}}
  @onChange={{action (mut @type)}}
  data-test-type-input
/>

{{paper-pikaday
	value=@date
	useUTC=false
	useISODate=false
	class='flex-30'
	format='DD-MM-YYYY'
	label='Data'
	yearRange='2020,currentYear'
	onChange=(action (mut @date))
  data-test-calendar=true
}}
