<div class="layout-row flex-100 layout-wrap">
  {{#each @events as |event index|}}
    <div class="flex-20 layout-column">
      <Events::EventCardSumarized @index={{index}} @event={{event}} />
    </div>
  {{/each}}
</div>