{{page-title "Index"}}

<div class="centered-container">
  <Events::EventFilterForm
    @name={{this.name}}
    @type={{this.type}}
    @date={{this.starts_at}}
  />
</div>

<Shared::Pagination @model={{@model}} @count={{this.count}} />


<div class="centered-container">
  <Events::EventList @events={{@model}} />
</div>
