{{page-title "Login"}}

<div class="centered-container">
  <h1>Login</h1>
</div>
<div class="centered-container">
  <PaperForm @onSubmit={{action "authenticate"}} as |form|>
    <div class="form-row">
      <PaperInput @class="flex" @label="Email" @type="email" @icon="email"
        @placeholder="Insira seu email"
        @value={{email}} @onChange={{action (mut email)}} @required={{true}}
        @errorMessages={{hash required="Por favor insira seu email." }}
      />
    </div>

    <div class="form-row">
      <PaperInput @class="flex" @label="Senha" @type="password" @icon="lock"
        @placeholder="Senha" @value={{password}}
        @onChange={{action (mut password)}} @required={{true}}
        @errorMessages={{hash required="Por favor insira sua senha." }}
      />
    </div>

    <div class="form-row" style="justify-content: center;">
      <form.submit-button @raised={{true}} @primary={{true}}>
        Entrar
      </form.submit-button>
    </div>
  </PaperForm>
</div>

{{#if isToastOpen}}
  <PaperToast
    @duration={{this.duration}}
    @position={{this.position}}
    @capsule={{true}}
    @swipeToClose={{true}}
    @onClose={{action (mut isToastOpen) false}} as |toast|>
      <toast.text>{{this.toastText}}</toast.text>
  </PaperToast>
{{/if}}

