{{page-title "Novo Evento"}}

<div class="centered-container">
  <h1>Novo Evento</h1>
</div>

<div class="layout-row layout-xs-column centered">
  <div class="layout-column flex-xs flex-gt-xs-40">
    <PaperCard as |card|>
      <card.content>
        <Events::EventForm />
      </card.content>
    </PaperCard>
  </div>
</div>